html, body {width: 100%;
height: 100%;}

header{ border: inset;}

span { background-color: tomato;
color: white;
border: tomato solid ;
border-radius: 10px;
padding: 5px 10px ;}
 ul  { display: block;
    margin: auto;
    width: 55%;
    
}
li {display:inline;
padding: 15px;}


#menu { border: inset;
margin: 10px;
padding: 10px;}


#aside {width: 30%;
    height: auto;
float:left ;}

aside iframe {width: 85%;}

#article { width: 70%;
height: auto; 
float: left;}
#footer {position: fixed;
bottom: 0;
border: inset;
background-color: grey;
width: 100%;
text-align: center;
color :white}