
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 
/* banner*/

#banner {
   
  
   background-image:   linear-gradient(rgba(230, 14, 14, 0),rgba(35,221,173,0.5)), url("./images/1829587374665177_90ab.jpg") ;
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 100%;
  
    
    
} 
.logo {
width: 60px;
height: auto;
position: relative;
top: 4%; 
left: 10%;
transition:width 2s ;

}
.logo:hover  {
    width: 100px;
    
    
}
#banner h1 {font-size:150px; 
    text-align: center;
color: aliceblue;
}
#banner h1 span {color: black;}
#banner p { font-size: 40px; text-align: center;
 font-style: italic;
color: aliceblue;
margin: 10px 0;}
  
 #banner a { text-decoration: none; 
  color: aliceblue ;
  display:inline;

text-align: center;
border: solid white 2px;
padding: 15px 20px;
transition-duration:0.5s;
margin-right: 30px;

}
#link { 
margin-left: 43%;
margin-top: 50px;
}
    


#link a:hover {
    background:white ;
    color: black;
    
}
.logo :hover{ transform: rotate(180deg);}

/* end banner*/


/*Navigation*/
#nav{width: 250px;
    height: 80%;
    position: fixed;
top: 5%;
right: 0;
background-color: #009688;
transition: right 0.5s;
z-index: 100;

}

#nav ul li {
    text-decoration: none;
    margin: 35%;
}
#nav ul li a {color: white;}
#menuBtn { 
background-color: #009688;
position: fixed;
top: 5%;
right: 10%;
border-radius: 50%;
cursor: pointer;
}
#menuBtn img {width: 70px;
    height: 70px;
}
 #menuBtn :hover {
     border: solid black 3px;
     border-radius: 50%;
 }
 /*end nav css*/

  /*Feature css*/
   #feature{margin-top: 100px;
       width: 100%;
    }
 #tittle{ 
text-align: center;
padding-bottom: 50px;}
 #tittle p {
     color: #009688;
     font-size: 20px;
     font-weight: bold;
 position: relative;
 display: inline-block;
    }
     
#tittle p::after{
    content: "";
    width: 50px;
    height: 30px;
    border: #009688 solid 2px;
  
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    
    background:linear-gradient(rgba(35,221,173,0.5),rgba(230, 14, 14, 0));
 position: absolute;
 top: -30px;
 left: 0;
}


.feature-box {
    width: 100%;
    text-align: left;
 display: grid;
 grid-template-rows:1fr 1fr 1fr;

 
 

grid-template-areas:
"sxbc1 img"
"sxbc2 img"
"sxbc3 img";}
 #tittle h1 { font-size: 50px;}
 

 .sxbc1 h1, .sxbc2 h1, .sxbc3 h1 { text-align: left;
color: rgba(35,221,173,0.5);

}
.sxbc1 , .sxbc2 , .sxbc3{padding-left: 150px;
    
}
 
 .icon { width: 10%;
float: left;
padding-top: 30px;
padding-right: 0;} 
.text p {float: left;
width: 70%;}
  

.sxbc1{grid-area: sxbc1;}
.sxbc2{grid-area: sxbc2;}
.sxbc3{grid-area: sxbc3;}
.photo2{ grid-area: img;
}

/*End feature css*/
/*services*/

 #services{
       width: 100%;
    margin-top: 100px;
background-color: #efefef;}
 .tittle-services{ 
text-align: center;
padding-bottom: 50px;}
 .tittle-services p {
     color: #009688;
     font-size: 20px;
     font-weight: bold;
 position: relative;
 display: inline-block;
    margin-top: 50px; }
    .tittle-services h1 {font-size: 50px;}
.tittle-services p::after{
    content: "";
    width: 50px;
    height: 30px;
    border: #009688 solid 2px;
  
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    
    background:linear-gradient(rgba(35,221,173,0.5),rgba(230, 14, 14, 0));
 position: absolute;
 top: -30px;
 left: 0;
}

 .services-box {width: 80%;  
margin: auto;
margin-top: 50px;
display: grid;
grid-row-gap: 50px ;grid-template-columns: 1fr 1fr;
grid-template-areas :  
" s1 s2"
" s3 s4";}
.single-services1 { grid-name:s1; position: relative; }
.single-services2 { grid-name:s2; position: relative; }
.single-services3 { grid-name:s3; position: relative; }
.single-services4 { grid-name:s4; position: relative; }
.single-services1 ,.single-services2 ,.single-services3 ,.single-services4 {
    text-align: center;
    width: 100%;
    
   }
   .single-services1 img,.single-services2 img,.single-services3 img,.single-services4 img{
       width: 80%;
       height: 300px;
       border-radius: 7px;   }
   .service-desc {width: 80%;
    height: 250px;
      margin: auto;
    color: white;
    border-radius: 7px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition-duration: 1s;
}
   .single-services1:hover .service-desc, .single-services2:hover .service-desc,.single-services3:hover .service-desc,.single-services4:hover  .service-desc {
       opacity: 1;
       background-image:   linear-gradient(rgba(238, 234, 234, 0),rgba(35,221,173,0.7));
     }
  
      
/* css testimonial*/

.te-tittle{ 
    text-align: center;
    padding-bottom: 50px;}
     .te-tittle p {
         color: #009688;
         font-size: 20px;
         font-weight: bold;
     position: relative;
     display: inline-block;
        margin-top: 50px; }
        .te-tittle h1 {font-size: 50px;}
         
    .te-tittle p::after{
        content: "";
        width: 50px;
        height: 30px;
        border: #009688 solid 2px;
      
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        
        background:linear-gradient(rgba(35,221,173,1),rgba(230, 14, 14, 0));
     position: absolute;
     top: -30px;
     left: 0;
    }
    .test-col {width: 25%;}
    .user {
    display: grid;
    grid-template-columns: 30% 70%;
grid-template-areas: 
"img info"
"text text";
justify-content: start;}
    .test-col .user img {width: 70px;
    height: 70px; 
  
    grid-area: img;
}
.user-info {grid-area: info;
    position: relative;
right: 30px;
}
.test-col p {grid-area: text;margin-left:0;
padding-left: 0; 
}

.test-row {width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
}


    

 /*css footer*/
 #footer {width: 100%;
    background-image: url("./images/1.jpg");
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 120%;}
    
 .footer-tittle{ 
    text-align: center;
    padding-bottom: 50px;}
     .footer-tittle p {
         color: #009688;
         font-size: 20px;
         font-weight: bold;
     position: relative;
     display: inline-block;
        }
         
    .footer-tittle p::after{
        content: "";
        width: 50px;
        height: 30px;
        border: #009688 solid 2px;
      
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        
        background:linear-gradient(rgba(35,221,173,0.5),rgba(230, 14, 14, 0));
     position: absolute;
     top: -30px;
     left: 0;
    }

    .footer-tittle h1 {font-size: 50px;}
    .footer-row {width: 60%;
        margin: auto;
        display: flex;
         justify-content: space-between;
         margin-bottom: 20px;
    }

    .right {display: flex;
        flex-direction: column;
       
text-align: right;}
.social {display: flex;
    justify-content: center;
  column-gap: 10px;
transform: scale(3);}


.footer-tittle ,.footer-row ,.social {
    position: relative;
    top: 150px;
}